body {
    overflow: hidden;
    margin: 0%;
}

.background {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    background-color: #FFFBF5;
}

.decor1 {
    position: absolute;
    top: 50px;
    left: -350px;
    
}

.decor2 {
    position: absolute;
    bottom: -10px;
    right: -10px;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    margin: 0%;
}

.header {
    margin: 1.75%;
}

.headerImage {
    height: 10px;
    width: auto
}

.message  {
    width: 60%;
    margin: 1.75%;
}

.messageText {
    font-family: Playfair Display;
    font-style: normal;
    font-weight: bold;
    font-size: 72px;
    line-height: 96px;
    display: flex;
    align-items: center;
    text-align: center;
    
    color: #C9512B;
}

.action {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1.75%;
}

.actionImage {
    height: 125px;
    width: 125px;
}

.actionText {
    font-family: Playfair Display;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 40px;
    /* identical to box height */

    display: flex;
    align-items: center;
    text-align: center;

    color: #C9512B;
    margin: 0px;
}