<!-- {% load static %} -->

<head>
    <link rel="stylesheet" href="../static/css/email.css">
</head>

<body>
    <div class="background">
        <img src="https://i.imgur.com/4xPod3d.png" class="decor1"/>
        <img src="https://i.imgur.com/DLoiDQK.png" class="decor2"/>
    </div>
    <div class="content">
        <div class="header">
            <img src="https://i.imgur.com/9VQTa0N.png" class="headerImage"/>
        </div>

        <div class="message">
            <h1 class="messageText">{{employee}}, {{manager}} invited you to their Good Neighbor team!</h1>
        </div>

        <div class="action">
            <a href={{link}}><img src="https://i.imgur.com/8HMOx7m.png" class="actionImage"/></a>
            <h1 class="actionText">Finish Your Profile</h1>
        </div>
    </div>
</body>