<head>
    <!--     <link rel="stylesheet" href="email.css">
     --></head>
    
    <body style="background-color: #FFFBF5;">
    <!--     <div style="    
        position: absolute;
        height: 100%;
        width: 100%;
        z-index: -1;
        background-color: #FFFBF5;"
        >
            <img src="https://i.imgur.com/4xPod3d.png" style="position: absolute; top: 50px; left: -350px;"/>
            <img src="https://i.imgur.com/DLoiDQK.png" style="position: absolute; bottom: -10px; right: -10px;"/>
        </div> -->
    <!--     <div style="display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 100%;
        margin: 0%;"> -->
        <div>
            <div style="margin: 1.75%;">
                <img src="https://i.imgur.com/9VQTa0N.png" style="display: block; margin-left: auto; margin-right: auto; margin-top: 70px; width: 125px;">
            </div>
    
            <div>
                <h1 style="
                    font-family: Playfair Display;
                    font-style: normal;
                    font-weight: bold;
                    font-size: 72px;
                    line-height: 96px;
                    margin-left: 18%;
                    margin-right: 18%;
                    margin-top: 0px;
                    margin-bottom: 0px;
                    text-align: center;
                    color: #C9512B;"
                >
                {{employee}}, {{manager}} invited you to their Good Neighbor team!
                </h1>
            </div>
    
            <div>
                <a href={{link}}><img src="https://i.imgur.com/8HMOx7m.png" style="display: block; margin-left: auto; margin-right: auto;height: 125px; width: 125px;"/></a>
                <h1 style="
                    font-family: Playfair Display;
                    font-style: normal;
                    font-weight: bold;
                    font-size: 25px;
                    line-height: 40px;
                    /* identical to box height */
    /*                align-items: center;
    */                text-align: center;
    
                    color: #C9512B;
                    margin: 0px;">
                        Finish Your Profile
                </h1>
            </div>
        </div>
    </body>