{% load static %}

<head>
    <link rel="stylesheet" href="{% static '/css/email.css' %}">
</head>

<body>
    <div class="background">
        <img src="{% static '/img/decor1.png' %}" class="decor1"/>
        <img src="{% static '/img/decor2.png' %}" class="decor2"/>
    </div>
    <div class="content">
        <div class="header">
            <img src="{% static '/img/logo.png' %}" class="headerImage"/>
        </div>

        <div class="message">
            <h1 class="messageText">{{employee}}, {{manager}} invited you to their Good Neighbor team!</h1>
        </div>

        <div class="action">
            <a href={{link}}><img src="{% static '/img/arrow.png' %}" class="actionImage"/></a>
            <h1 class="actionText">Finish Your Profile</h1>
        </div>
    </div>
</body>